{% extends "web/head_menu.html" %}
{% block title %} Kontriman 404 Error | Kontriman  {% endblock %}
{% load static %}
{% block content %}
<br><br>

        <!-- Start Section-->
        <section class="relative md:py-24 py-16">
            <div class="container">
                <div class="grid grid-cols-1 items-center gap-[30px]">
                    <br><br>
                  <center>
                    <div>
                        <h4 class="text-3xl font-semibold mb-4 text-danger">404</h4>
                        <p class="text-slate-400 text-base leading-8 mt-2">
                            The requested URL /merir was not found on this server. That’s all we know.</p>  
                    </div>

                  </center>

      

                </div><!--grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Section-->

<!-- End Section-->
<br><br><br><br>

{% endblock %}