{% extends "web/head_menu.html" %}
{% block title %} How Does it Work | Kontriman  {% endblock %}
{% load static %}
{% block content %}
<br><br>
        <!-- Start Terms & Conditions -->
        <section class="relative md:py-24 py-16">
            <div class="container">
                <div class="md:flex justify-center">
                    <div class="md:w-3/4">
                        <div class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md">
                            <h5 class="text-xl font-semibold mb-4">What is Kontri Man?</h5>
                            <p class="text-slate-400">
                                Kontri Man is a mobile app that allows people to save money daily and cash out at the end of every month operates through a mechanism commonly known as a "Acaoo", "digital piggy bank" or "savings vault." The benefits of daily saving extend beyond the financial aspect. It instills a sense of accomplishment, as we witness our savings grow over time:
                            </p>

                            <h5 class="text-xl font-semibold mb-4 mt-8">Flexibility and Control</h5>
                            <p class="text-slate-400">
                                Kontri Man provides users with flexibility and control over their savings. They can adjust their daily savings amount, pause or resume automated savings, and even withdraw funds from their savings vault before the end of the month if necessary.<br>
                                <br>
                                The daily savings and cash-out feature of Kontri Wallet encourages a disciplined approach to saving money, making it easier for individuals to save small amounts consistently. By automating the process and providing a user-friendly interface, Kontri Man aims to help users achieve their financial goals more effectively.                            
                            </p>
                            <p class="text-slate-400 mt-3">
                                Cash-Out at the End of the Month: At the end of the month, users have the option to cash out their accumulated savings from the vault. The total savings amount, including any earned interest, is made available for withdrawal or transfer to the user's linked bank account.                            
                            </p>
                            <p class="text-slate-400 mt-3">
                                With Kontri Man, you can easily set daily savings targets and track your progress over time. Our intuitive interface allows you to customize your savings plan according to your financial aspirations and preferences. Whether you're saving for a dream vacation, a down payment on a home, or creating an emergency fund, Kontri Wallet has got you covered.                            
                            </p>
                            
                            <h5 class="text-xl font-semibold mb-4 mt-8">Key Features:</h5>
                            <p class="text-slate-400">The daily saving feature offered by Kontri Wallet provides users with several key features to facilitate and enhance their saving habits. Here are some key features of daily saving with Kontri Wallet: :</p>
                            <ul class="list-none text-slate-400 mt-3">
                                <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>Automated Savings</li>
                                <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>Personalized Goals</li>
                                <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>User-Friendly</li>
                                <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>Convenience</li>
                                <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>Security</li>
                                <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>Community Support</li>
                            </ul>

                            <h5 class="text-xl font-semibold mt-8">Users Question & Answer :</h5>

                            <div id="accordion-collapse" data-accordion="collapse" class="mt-6">
                                <div class="relative shadow dark:shadow-gray-800 rounded-md overflow-hidden mt-4">
                                    <h2 class="text-base font-semibold" id="accordion-collapse-heading-1">
                                        <button type="button" class="flex justify-between items-center p-5 w-full font-medium ltr:text-left rtl:text-right" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
                                            <span>How does it work ?</span>
                                            <svg data-accordion-icon class="w-4 h-4 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                                        <div class="p-5">
                                            <p class="text-slate-400 dark:text-gray-400">
                                                With Kontri Man, you can easily set daily savings targets and track your progress over time. Our intuitive interface allows you to customize your savings plan according to your financial aspirations and preferences. Whether you're saving for a dream vacation, a down payment on a home, or creating an emergency fund, Kontri Wallet has got you covered.                                            
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="relative shadow dark:shadow-gray-800 rounded-md overflow-hidden mt-4">
                                    <h2 class="text-base font-semibold" id="accordion-collapse-heading-2">
                                        <button type="button" class="flex justify-between items-center p-5 w-full font-medium ltr:text-left rtl:text-right" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                                            <span>How to save money into Kontri Man?</span>
                                            <svg data-accordion-icon class="w-4 h-4 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                                        <div class="p-5">
                                            <p class="text-slate-400 dark:text-gray-400">You can use MTN Money and Orange Money to save directly to save money into your kontri Man wallet at no cost.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="relative shadow dark:shadow-gray-800 rounded-md overflow-hidden mt-4">
                                    <h2 class="text-base font-semibold" id="accordion-collapse-heading-3">
                                        <button type="button" class="flex justify-between items-center p-5 w-full font-medium ltr:text-left rtl:text-right" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
                                            <span>What is Kontri Man ?</span>
                                            <svg data-accordion-icon class="w-4 h-4 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                                        <div class="p-5">
                                            <p class="text-slate-400 dark:text-gray-400">
                                                Kontri Man is a user-friendly mobile application designed to make daily saving effortless and rewarding. Our mission is to empower individuals to take control of their finances, cultivate healthy saving habits, and achieve their financial goals.                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="relative shadow dark:shadow-gray-800 rounded-md overflow-hidden mt-4">
                                    <h2 class="text-base font-semibold" id="accordion-collapse-heading-4">
                                        <button type="button" class="flex justify-between items-center p-5 w-full font-medium ltr:text-left rtl:text-right" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
                                            <span>Why choose kontri Man ?</span>
                                            <svg data-accordion-icon class="w-4 h-4 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </h2>
                                    <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
                                        <div class="p-5">
                                            <p class="text-slate-400 dark:text-gray-400">
                                                Convenience: Access your savings anytime, anywhere, directly from your mobile device. Kontri Man ensures that saving becomes an integral part of your daily routine.                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-6">
                                <a href="/download" class="btn bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Android App</a>
                                <a href="/download" class="btn bg-transparent hover:bg-indigo-600 border-indigo-600 text-indigo-600 hover:text-white rounded-md ms-2">IOS App</a>
                            </div>
                        </div>
                    </div><!--end -->
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Terms & Conditions -->




<br><br><br><br>
{% endblock %}