{% load static %}

        <!-- JAVASCRIPTS -->
        <script src="{% static 'assets/libs/wow.js/wow.min.js' %}"></script>
        <script src="{% static 'assets/libs/tobii/js/tobii.min.js' %}"></script>
        <script src="{% static 'assets/libs/tiny-slider/min/tiny-slider.js' %}"></script>
        <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.init.js' %}"></script>
        <script src="{% static 'assets/js/app.js' %}"></script>
        <!-- JAVASCRIPTS -->