   {% load static %}

   <!-- Start Navbar -->
   <nav id="topnav" class="defaultscroll is-sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="/">
            <img src="{% static 'assets/images/logo-dark.png' %}" class="inline-block dark:hidden" width="180px" alt="">
            <img src="{% static 'assets/images/logo-dark.png' %}" class="hidden dark:inline-block" width="180px" alt="">
        </a>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline mb-0">
                <a href="javascript:void(0)" class="btn btn-icon rounded-full bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white"><i data-feather="phone" class="h-4 w-4"></i></a>
            </li>
    
            <li class="inline ps-1 mb-0">
                <a href="javascript:void(0)" class="btn btn-icon rounded-full bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white"><i data-feather="mail" class="h-4 w-4"></i></a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">PRODUCTS</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li class="megamenu-head">Personal Banking</li>
                                <li><a href="#" class="sub-menu-item">Accounts</a></li>
                                <li><a href="#" class="sub-menu-item">Acaoo</a></li>
                                <li><a href="#" class="sub-menu-item">Loans</a></li>
                                <li><a href="#" class="sub-menu-item">Invest</a></li>
                                <li><a href="#" class="sub-menu-item">International</a></li>

                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Business Banking</li>
                                <li><a href="#" class="sub-menu-item">Start My Business</a></li>
                                <li><a href="#" class="sub-menu-item">Loans</a></li>
                                <li><a href="#" class="sub-menu-item">Invest</a></li>
                                <li><a href="#" class="sub-menu-item">Rewards</a></li>

                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Group Societies</li>
                                <li><a href="#" class="sub-menu-item">Kontri Meeting (Njangie)</a></li>
                                <li><a href="#" class="sub-menu-item">Loan Collection</a></li>
                                <li><a href="#" class="sub-menu-item">Loan Application</a></li>
                                <li><a href="#" class="sub-menu-item">Rewards</a></li>
                            </ul>
                        </li>
                
                        <li>
                            <ul>
                                <li class="megamenu-head">Loans & Investments</li>
                                <li><a href="#" class="sub-menu-item">Loans</a></li>
                                <li><a href="#" class="sub-menu-item">Invest</a></li>
                                <li><a href="#" class="sub-menu-item">Rewards</a></li>
                            </ul>
                        </li>
                
                        <li>
                            <ul>
                                <li class="megamenu-head">Developer</li>
                                <li><a href="#" class="sub-menu-item">API</a></li>
                                <li><a href="#" class="sub-menu-item">Auth</a></li>
                                <li><a href="#" class="sub-menu-item">Docs</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                </li>

                <li><a href="/" class="sub-menu-item">Home</a></li>
        
                <li class="has-submenu parent-parent-menu-item">
                    <a href="/how_does_it_works">HOW DOES IT WORK</a></span>
                </li>
                <li class="has-submenu parent-menu-item">
                    <a href="/about">About us</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="#" class="sub-menu-item">Our Journey</a></li>
                        <li><a href="#" class="sub-menu-item">Our Team</a></li>
                        <li><a href="/contact_us" class="sub-menu-item">Contact us</a></li>
                        <li><a href="#" class="sub-menu-item">Careers</a></li>

                    </ul>
                </li>


            
        
                <li><a href="/download" class="sub-menu-item">DOWNLOAD APP</a></li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->