{% extends "web/head_menu.html" %}
{% block title %} Kontriman Privacy Teams | Kontriman  {% endblock %}
{% load static %}
{% block content %}
<br><br>

        <!-- Start Section-->
        <section class="relative md:py-24 py-16">
            <div class="container">
                <div class="grid grid-cols-1 items-center gap-[30px]">
                    <div>
                        <h4 class="text-3xl font-semibold mb-4">Privacy Terms</h4>
                        <p class="text-slate-400 text-base leading-8 mt-2">
                            At Kontri Wallet, we are committed to protecting the privacy and security of our customers' personal and financial information. As you use our daily saving and monthly withdrawal feature, we want to ensure that you understand how we collect, use, and safeguard your data. Please review the following privacy terms:                        </p>  
                    </div>

                    <div>
                    
                        <ul class="list-none mt-3">
                            <li class="flex mt-2">
                                <i class="mdi mdi-arrow-right"></i>
                                <div class="ms-2">
                                    <h6 class="font-semibold">Collection of Personal Information</h6>
                                    <p class="text-slate-400 text-base leading-8">
                                        a. We collect personal information, such as your name, contact details during the registration process and when you link your momo account to Kontri Man.<br>
                                        b. We may also collect additional information to verify your identity, prevent fraud, and comply with applicable laws and regulations.
                                    </p>
                                </div>
                            </li>

                            <li class="flex mt-2">
                                <i class="mdi mdi-arrow-right"></i>
                                <div class="ms-2">
                                    <h6 class="font-semibold">Nodejs</h6>
                                    <p class="text-slate-400 text-base leading-8">Make sure to have the <a href="https://nodejs.org/" class="text-indigo-600 font-semibold" target="_blank">Node.js</a> installed & running in your computer. If you already have installed Node on your computer, you can skip this step if your existing node version is greater than 16.</p>
                                </div>
                            </li>

                            <li class="flex mt-2">
                                <i class="mdi mdi-arrow-right"></i>
                                <div class="ms-2">
                                    <h6 class="font-semibold">Gulp</h6>
                                    <p class="text-slate-400 text-base leading-8">Make sure to have the <a href="https://gulpjs.com/" class="text-indigo-600 font-semibold" target="_blank">Gulp</a> installed & running in your computer. If you already have installed gulp on run command npm install -g gulp from your terminal.</p>
                                </div>
                            </li>

                            <li class="flex mt-2">
                                <i class="mdi mdi-arrow-right"></i>
                                <div class="ms-2">
                                    <h6 class="font-semibold">Git</h6>
                                    <p class="text-slate-400 text-base leading-8">Make sure to have the <a href="https://git-scm.com/" class="text-indigo-600 font-semibold" target="_blank">Git</a> installed globally & running on your computer. If you already have installed git on your computer, you can skip this step.</p>
                                </div>
                            </li>
                        </ul>

                        <h5 class="text-xl font-semibold mb-4 mt-6">Installation</h5>
                        <p class="text-slate-400 text-base leading-8">To setup the admin theme, follow below-mentioned steps:</p>

                        <ul class="list-none mt-3">
                            <li class="flex">
                                <i class="mdi mdi-arrow-right"></i>
                                <div class="ms-2">
                                    <h6 class="text-lg font-semibold mb-3">Install Prerequisites</h6>
                                    <p class="text-slate-400 text-base leading-8">Make sure to have all above prerequisites installed & running on your computer</p>
                                </div>
                            </li>
                        </ul>

                        <p class="text-slate-400 text-base leading-8 mb-4 mt-6">After you finished with the above steps, you can run the following commands into the terminal / command prompt from the root directory of the project to run the project locally or build for production use:</p>
                    </div>


                </div><!--grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Section-->

<!-- End Section-->
<br><br><br><br>

{% endblock %}